[project]
	description = Basic java web crawler and search engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shirish1993
[access "refs/for/refs/*"]
	read = group user/shirish1993
	push = group user/shirish1993
	label-Code-Review = -2..+2 group user/shirish1993
	label-Verified = -1..+1 group user/shirish1993
	rebase = group user/shirish1993
	removeReviewer = group user/shirish1993
	submit = group user/shirish1993
[access "refs/heads/*"]
	read = group user/shirish1993
	create = group user/shirish1993
	push = +force group user/shirish1993
	pushMerge = group user/shirish1993
[access "refs/tags/*"]
	push = +force group user/shirish1993
	pushTag = group user/shirish1993
	pushSignedTag = group user/shirish1993
